.checked-true {
    text-decoration: line-through;
    color: grey;
}

@font-face {
    font-family: myFirstFont;
    src: url(resources/Cambria_Bold_Italic.ttf);
}

.mybtn {
    color: black;
    text-align: center;
    width: 110px;
    font-weight: bold;
    background-color: #047FF4;
    margin: 10px 5px 0px 5px;
}

.mybtn:active, .mybtn:hover, .mybtn:focus {
    background-color: white;
}

.active-selection {
    background-color: #eee;
}

.customer-controller {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


.filter-conainer-input {
    font-weight: bold;
}

.glyphicon-container {
    font-size: 200%;
}

.customer-card-repeater {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 320px;
}

.customer-card-container {
    border-style: solid;
    border-color: #E0E0E0;
    border-width: 1px;
    width: 300px;
    height: 100px;
    margin: 5px;
}

.customer-card-container-header {
    height: 30px;
    width: 100%;
    background-color: #047FF4;
    color: white;
    font-size: 18px;
    padding: 3px;
}

.customer-card-container-header-div {
    float: left;
}

.customer-card-container-header-img {
    float: right;
    margin: 5px;
}

.customer-card-container-body-img {
    height: 70%;
    float: left;
}

.customer-card-container-body-customer {
    float: left;
}

.customer-card-container-body-orders {
    float: left;
    color: #8EB0E5;
}

.tabs-ctrl-customer-management {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin-top: 10px;
}

.tabs-ctrl-container {
    background-color: #047FF4;
    color: white;
    height: 50px;
}

.tabs-ctrl-image {
    height: 50px;
    float: right;
}

.customer-list-container {
    border-style: solid;
    border-color: #E0E0E0;
    border-width: 1px;
    width: 100%;
    height: 100px;
    margin: 5px;
}