<!DOCTYPE html>
<html>
<head>
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="order.css">
    <link rel="stylesheet" href="customer.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        @font-face {
            font-family: myFirstFont;
            src: url(resources/Cambria_Bold_Italic.ttf);
        }

        .mybtn {
            color: black;
            text-align: center;
            width: 110px;
            font-weight: bold;
            background-color: #047FF4;
            margin: 10px 5px 0px 5px;
        }

        .mybtn:active, .mybtn:hover, .mybtn:focus {
            background-color: white;
        }


    </style>
</head>
<body>


<div ng-app="CrmApp">
    <span ng-controller="TabsCtrl">

        <div style="background-color:#047FF4;color:white;height:50px;" >
            <img src="http://icons.iconarchive.com/icons/aha-soft/people/128/people-icon.png"
                 style="height:50px;width:80px;" class="col-md-1"/>
            <span style="font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-size:22px;margin-top:10px"
                  class="col-md-2">Customer Management</span>


            <!--<button type="button" class="btn mybtn">Customers</button>-->
            <!--<button type="button" class="btn mybtn">Orders</button>-->
            <!--<button type="button" class="btn mybtn">About</button>-->
            <a type="button" class="btn mybtn" ng-repeat="button in buttons" href="{{button.url}}">{{button.title}}</a>


            <!--<tabset>-->
            <!--<ul class="nav nav-tabs">-->
            <!--<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" class="mybtn"></tab>-->
            <!--</ul>-->
            <!--</tabset>-->
            <!--<div class="btn-group" style="vertical-align: text-bottom;height: 30px;margin: 0px 20px 0px 20px;" data-toggle="buttons">-->
            <!--<ul class="nav">-->
            <!--<button type="button" style="border:0px;" class="btn mybtn">Customers</button>-->
            <!--<button type="button" style="border:0px;" class="btn mybtn">Orders</button>-->
            <!--<button type="button" style="border:0px;" class="btn mybtn">About</button>-->
            <!--</ul>-->
            <!--</div>-->


        </div>
    </span>
    <br/>



    <div ng-view></div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-utils-pagination/dirPagination.js"></script>
    <!--<script src="bower_components/angular-ui/common/stylesheets/"></script>-->
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="customer.js"></script>
    <script src="customer-service.js"></script>
    <script src="main.js"></script>

</body>
</html>