
.customer-row{
    color: #047FF4;
    font-size: xx-large;
}
.order-table {


    display:table;
    border-collapse:collapse;
    color: grey;
}

.order-row {
    display:table-row;
}

.order-cell{
    display:table-cell;
    padding: 5px;
    border: 1px solid #787878;
    margin:0px;
}
.order-header-cell{
    display:table-cell;
    width:25%;
    background-color: #047FF4;
    color: white;
    font-weight: bolder;
    padding: 5px;
    margin:0px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}