
.customer-row{
    color: #047FF4;
    font-size: xx-large;
}
.order-table {


    /*display:table;*/
    border-collapse:collapse;
    color: grey;
    width:100%;
    position: relative;
}


.order-row:nth-child(odd) {background: #EEE}

.order-total {
    font-weight: bolder;
}

.order-cell{
    padding: 5px;
    border: 1px solid #cacaca;
    margin:0px;
}
.order-header-cell{
    width:20%;
    background-color: #047FF4;
    color: white;
    font-weight: bolder;
    padding: 5px;
    margin:0px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}


.order-total {
}