<div>
    <div class="glyphicon glyphicon-folder-open glyphicon-container">
        Orders
    </div>




    <div ng-controller="CustomerController" class="customer-controller">
        <div>
            <div class="filter-conainer-input">Filter by Name\Product: <input type="input" ng-model="orderFilter"/></div>
        </div>
        <div dir-paginate="customer in customers | filter:orderFilter | itemsPerPage:5 ">
            <div class="customer-row">{{customer.name}}</div>
            <table class="order-table">
                <tr class="order-row">
                    <td class="order-header-cell">Product</td>
                    <td class="order-header-cell">Date</td>
                    <td class="order-header-cell">Quantity</td>
                    <td class="order-header-cell">Unit Price</td>
                    <td class="order-header-cell">Total</td>
                </tr>
                <tr ng-repeat="order in customer.orders" class="order-row">
                        <td class="order-cell">{{order.product}}</td>
                        <td class="order-cell">{{order.date}}</td>
                        <td class="order-cell">{{order.quantity}}</td>
                        <td class="order-cell">{{order.price | currency}}</td>
                        <td class="order-cell">{{order.price*order.quantity | currency}}</td>
                </tr>


                <tr class="order-row">

                    <td class="order-cell" colspan="4"></td>
                    <td class="order-cell order-total">{{ customer.orders | orderTotal | number:2 | currency }}</td>
                </tr>

            </table>
        </div>


        <dir-pagination-controls template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>


</div>

